.vs/
UITableViewTest/UITableViewTest.Android/obj/Debug/81/DesignTimeResolveAssemblyReferencesInput.cache
UITableViewTest/UITableViewTest.Android/obj/
UITableViewTest/UITableViewTest.Android/Resources/
UITableViewTest/UITableViewTest.iOS/bin/
UITableViewTest/UITableViewTest.iOS/obj/
UITableViewTest/UITableViewTest/obj/
